html,
body {
    margin: 0px;
    background-color: #111111;
}

header {
    color: #F64740;
    width: 98%;
    height: 200px;
    margin: 1%
}

header h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 60px;
    font-size: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, 1fr)
    );
    gap: 32px;
    margin: 1%
}

.wrapper .page {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.page a {
    flex: 1;
    display: flex;
    width: 100%;
    height: auto;
}

footer {
    color: #F64740;
    width: 98%;
    height: 60px;
    margin: 1%;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

.image_link {
    object-fit: cover;
    object-position: left;
    width: 100%;
    border-radius: 8px;
    transition: filter 150ms ease-in, transform 150ms ease-out ;
    box-shadow: 2px 4px 5px #FFFFFF4D;
}

.image_link:hover {
    filter: brightness(90%) blur(0.5px);
    transform: scale(1.05);
}